PORT=5000
PYTHON_API_URL=http://localhost:8000
PYTHON_HTTP_TIMEOUT_MS=5400000
SCAN_LAYER3_LIMIT=999

JWT_SECRET=
MONGO_URI=
NEON_DB_URL=

OPENROUTER_API_KEY=
GROQ_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
VIRUSTOTAL_API_KEY=
GOOGLE_SAFE_BROWSING_KEY=
URLSCAN_API_KEY=
ABUSEIPDB_API_KEY=
CHECKPHISH_API_KEY=
